nifi-datageneration-validators/src/test/resources/employee.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="document">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="firstName"/>
                <xs:element type="xs:string" name="lastName"/>
                <xs:element type="xs:byte" name="age"/>
                <xs:element type="xs:boolean" name="employed"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
